.search-container {
    display: flex;
    align-items: center;
    padding: .25rem;
    width: fit-content;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
.thread-container {
    padding-bottom: 2.5rem;
}

.search-input-style {
    width: fit-content;
}

.line-divider {
    margin: auto;
}

.footer-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}
