@page "/board/{ShortName}"

@inherits FluxorComponent
@using ChanBoardModernized.Shared.Components
@using ChanBoardModernized.Shared.Components.DTOs
@using ChanBoardModernized.Shared.Components.Interfaces
@using ChanBoardModernized.Shared.States
<div class="page-container">
    <BoardHeader />

    <!--Search field-->
    <div class="search-container">
        <TextInput Placeholder="Search threads..." @bind-Value="searchQuery" class="search-input-style" />
        <span>[Catalog]</span>
        <span>[Archive]</span>

    </div>

    <hr class="line-divider" />

    <!--Threads-->
    <div class="thread-container">
        @if (Loading)
        {
            <p>Loading threads...</p>
        }
        else if (HasErrors)
        {
            <p>Error loading threads.</p>
        }
        else if (Threads.Count == 0)
        {
            <p>No threads available.</p>
        }
        else
        {
            @foreach (var thread in Threads)
            {
                <Thread Comments="thread.Comments"/>

                <hr class="line-divider" />
            }
        }
    </div>
    <footer class="footer-content">this is a sticky footers</footer>
</div>

@code {
    [Inject]
    private IChanBoardHttpClient ChanBoardHttpClient { get; set; } = null!;
    [Inject]
    private IState<BoardState> BoardState { get; set; } = null!;
    [Parameter]
    public string ShortName { get; set; } = string.Empty;

    private List<ThreadDTO> Threads { get; set; } = new List<ThreadDTO>();
    private bool Loading { get; set; } = true;
    private bool HasErrors { get; set; } = false;
    private string searchQuery = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //BoardDTOs = await ChanBoardHttpClient.GetBoards();
            //CurrentBoard = BoardDTOs.FirstOrDefault(b => b.ShortName.Equals(ShortName, StringComparison.OrdinalIgnoreCase)); // Added this line to ensure CurrentBoard is set correctly
        }
        catch (Exception)
        {
            HasErrors = true;
            // Handle error (e.g., log it)
        }
        finally
        {
            Loading = false;
        }

        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        Loading = true;
        try
        {
            Threads = await ChanBoardHttpClient.GetPreviewThreads(ShortName, 1, 10);
        }
        catch (Exception)
        {
            HasErrors = true;
        }
        finally
        {
            Loading = false;
        }
        await base.OnParametersSetAsync();
    }
}
