@page "/thread/{ThreadId:guid}"


@using ChanBoardModernized.Shared.Components
@using ChanBoardModernized.Shared.Components.DTOs
@using ChanBoardModernized.Shared.Components.Interfaces


<div>
    @foreach (var comment in Comments)
    {
        <CommentDisplay CommentDTO="comment" 
            IsFirstComment="@(comment == Comments.First())" 
            IsOP="@(comment == Comments.First())" />
        <br/>
    }
</div>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;
    [Inject]
    public IChanBoardHttpClient ChanBoardHttpClient { get; set; } = null!;

    [Parameter]
    public Guid ThreadId { get; set; }
    [Parameter]
    public List<CommentDTO> Comments { get; set; } = new List<CommentDTO>();

    protected override async Task OnInitializedAsync()
    {
        //Navigated from other page
        if (ThreadId != Guid.Empty)
        {
            //Get comments for the thread from API
            Comments = await ChanBoardHttpClient.GetCommentsForThread(ThreadId);
        }
        await base.OnInitializedAsync();
    }

    private void SeedCommentDTOs()
    {
        Comments = new List<CommentDTO>()
        {
            new CommentDTO() { PostDigits = 1234567890, Title = "First Post", Author = "User1", Content = "This is the first post in the thread.", CreatedAt = DateTime.UtcNow.AddHours(-2), PhotoID = Guid.NewGuid() },
            new CommentDTO() { PostDigits = 1234567891, Title = "", Author = "User2", Content = "This is a reply to the first post.", CreatedAt = DateTime.UtcNow.AddHours(-1), PhotoID = Guid.Empty },
            new CommentDTO() { PostDigits = 1234567892, Title = "", Author = "", Content = "This is another reply to the first post.", CreatedAt = DateTime.UtcNow.AddMinutes(-30), PhotoID = Guid.NewGuid() }
        };
    }
}
